<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
body {
	font-family: Monospace;
	background-color: #f0f0f0;
	margin: 0px;
	overflow: hidden;
}
		#ui {
			position: absolute;
			top: 0;
			right: 0;
			background-color: black;
			opacity: 0.8;
			color: white;
			z-index: 1;
		}

		#ui button,input{
			margin-bottom : 5px;
		}

		</style>
		<script src="utils.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.js"
		  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
	crossorigin="anonymous"></script>

		<script src="three.js"></script>

		<script src="STLLoader.js"></script>

		<script src="axis.js"></script>
		
		<script>
			var world = {
				container : null,
				scene: null,
				lights: [],
				camera: null,
				renderer: null,
				raycaster: null,
				mouse: null,
				rotate: false
			};

			var ui = {
				scene : null,
				lights: [],
				camera: null,
				renderer: null
			};

			var Yaw_Servo = null;
			var Pitch_Servo = null;
			var irSensor = null;
			var reference = null; //reference point of scanner distance
			var scanLine = null;

			var testObjects = []; //object to scan
			var ui_testObjects = [];

			var scanPoints = [];
			var ui_scanPoints = [];

			var theta = 0.;
			var phi = 0.;
			var automaticScan = false;
			var startedAutomaticScan = false; // used to determine when automatic scan started and set the variables to start settings.
			var MIN_ANGLE = d2r(-40);
			var MAX_ANGLE = d2r(90);
			var offset = d2r(1.0);
			var dir = 1; // upward, downwards would be -1
			function buildCamera(scene) {
				var camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 1, 10000);
				camera.radius = 25;
				camera.theta = d2r(22.5);
				camera.phi = d2r(22.5);
				camera.scene = scene;

				camera.update = function () {
					var theta = this.theta;
					var phi = this.phi;
					var radius = this.radius;

					this.position.x = radius * Math.sin(theta) * Math.cos(phi);
					this.position.y = radius * Math.sin(phi);
					this.position.z = radius * Math.cos(theta) * Math.cos(phi);

					this.updateMatrix();
					this.lookAt(this.scene.position);
					this.updateMatrixWorld();
				};


				// camera control events
				$(document).mousedown(function (event) {
					camera.mouse = mouse2vec(event);
					camera.rotate = (event.buttons & 4); //middle button

				});


				// rotate
				$(document).mousemove(function (event) {
					event.preventDefault();
					var mouse = mouse2vec(event);

					if (camera.rotate) {
						var delta = mouse.clone().sub(camera.mouse);
						camera.theta -= delta.x;
						camera.phi -= delta.y;
						camera.update();
					}

					camera.mouse = mouse;
				});

				// end rotation
				$(document).mouseup(function (event) {
					camera.rotate = false;
				});

				// dolly ("zoom")
				$(document).get(0).addEventListener('mousewheel', function (e) {
					camera.radius *= ((e.wheelDelta < 0) ? 1.05 : 0.95);
					camera.update();
				});

				return camera;
			}


			function addIR(callback) {
				var loader = new THREE.STLLoader();
				loader.load('IR.STL', function (g) {
					var m = new THREE.MeshPhongMaterial({
						color: 0xA05522,
						shading: THREE.SmoothShading,
						specular: 0xffffff,
						emissive: 0xFF0000,
						shininess: 30,
						overdraw: true
					});
					//var m = new THREE.MeshLambertMaterial({color: 0xAA5522});
					var mesh = new THREE.Mesh(g, m);
					callback(mesh);
				});
			}

			function addYawServo(callback) {
				var loader = new THREE.STLLoader();
				loader.load('Servo.STL', function (g) {
					var m = new THREE.MeshPhongMaterial({
						color: 0xA05522,
						shading: THREE.SmoothShading,
						specular: 0xffffff,
						emissive: 0x0000FF,
						shininess: 30,
						overdraw: true
					});
					var mesh = new THREE.Mesh(g, m);
					callback(mesh);
				});
			}

			function addPitchServo(callback) {
				var loader = new THREE.STLLoader();
				loader.load('Servo.STL', function (g) {
					var m = new THREE.MeshPhongMaterial({
						color: 0xA05522,
						shading: THREE.SmoothShading,
						specular: 0xffffff,
						emissive: 0x00FF00,
						shininess: 30,
						overdraw: true
					});
					var mesh = new THREE.Mesh(g, m);
					callback(mesh);
				});
			}

			function addPointer(x, y, z) {
				var pointer = new THREE.Mesh(new THREE.BoxGeometry(0.1, 0.1, 0.1), new THREE.MeshBasicMaterial({color: 0xFF0000}));
				pointer.position.set(x, y, z);
				world.scene.add(pointer);
			}

        function relocate_servo(servo){
            servo.rotation.set(d2r(-90),0,0);
            servo.position.set(-0.44,-1.5,0);
            var wrapper = new THREE.Object3D();
            wrapper.add(servo);
            return wrapper;
        }
        function allLoaded() {
            if (irSensor != null && Yaw_Servo != null && Pitch_Servo != null) {
                console.log("ALL LOADED !!!");
                //var wrapper1, wrapper2;

                Yaw_Servo = relocate_servo(Yaw_Servo);
                Pitch_Servo = relocate_servo(Pitch_Servo);

                Pitch_Servo.position.set(0.0, 0, 0.0);
                Pitch_Servo.rotation.set(d2r(90),0,d2r(90));

                wrapper1 = new THREE.Object3D();
                wrapper1.add(Pitch_Servo);
                wrapper1.position.set(1.0, 1.0, -0.05);

                wrapper2 = new THREE.Object3D();
                wrapper2.add(wrapper1);
                //wrapper1.add(buildAxes(origin, 10));
                Pitch_Servo.wrapper = wrapper2;

                //irSensor.rotation.set(0.0, 0.0 , 0.0);
                irSensor.position.set(-1.0 ,0.0, -0.5);
                //irSensor.add(buildAxes(origin,10));
                irSensor.wrapper = new THREE.Object3D();
                irSensor.wrapper.add(irSensor);
                wrapper1.add(irSensor.wrapper);


                reference = new THREE.Mesh(new THREE.BoxGeometry(0.1, 0.1, 0.1), new THREE.MeshBasicMaterial({color: 0x000000}));
                reference.position.set(0.0, 0.0, 0.8);
                irSensor.add(reference);

                Yaw_Servo.add(Pitch_Servo.wrapper);
                world.scene.add(Yaw_Servo);

                //start
                animate();
            }
        }

			function addEnvironment(root){
				root.scene = new THREE.Scene();

				// lights
				root.scene.add(new THREE.AmbientLight(0xeeeeee, 0.1));

				var light = new THREE.DirectionalLight(0xffffff, 0.3);
				light.position.set(1, 1, 1).normalize();
				root.scene.add(light);

				//addPointer(0,10,-10);

				light = new THREE.PointLight(0xffffff, 0.7, 100);
				light.position.set(0, 10, -10);
				root.scene.add(light);

				// axes
				var origin = new THREE.Vector3(0, 0, 0);
				var axes = buildAxes(origin, 100);
				root.scene.add(axes);

				// camera
				root.camera = buildCamera(root.scene);
				root.camera.update();

				// renderer
				root.renderer = new THREE.WebGLRenderer();
				root.renderer.setClearColor(0xf0f0f0);
				root.renderer.setPixelRatio(window.devicePixelRatio);
				root.renderer.setSize(window.innerWidth, window.innerHeight);
				root.renderer.sortObjects = false;

				root.container.append(root.renderer.domElement);
			}

			function addUIEnvironment(root){
				root.scene = new THREE.Scene();

				// lights
				root.scene.add(new THREE.AmbientLight(0xeeeeee, 0.1));

				var light = new THREE.DirectionalLight(0xffffff, 0.3);
				light.position.set(1, 1, 1).normalize();
				root.scene.add(light);

				//addPointer(0,10,-10);

				light = new THREE.PointLight(0xffffff, 0.7, 100);
				light.position.set(0, 10, -10);
				root.scene.add(light);

				// axes
				//var origin = new THREE.Vector3(0, 0, 0);
				//var axes = buildAxes(origin, 100);
				//root.scene.add(axes);

				// camera
				root.camera = new THREE.PerspectiveCamera(70, 300/300, 0.1, 100);

				// renderer
				root.renderer = new THREE.WebGLRenderer();
				root.renderer.setClearColor(0xf0f0f0);
				root.renderer.setPixelRatio(window.devicePixelRatio);
				root.renderer.setSize(window.innerWidth, window.innerHeight);
				root.renderer.sortObjects = false;

				root.container.append(root.renderer.domElement);
			}

			function addTestObjects(){
				//geom = new THREE.BoxGeometry(3.0, 3.0, 3.0);
				var geom = new THREE.TorusGeometry(5.0,1.0,60,60,7);
				var mat = new THREE.MeshBasicMaterial({color: 0x00FFFF});

				var testObject = new THREE.Mesh(geom,mat);
				testObject.rotation.set(d2r(45),d2r(90),d2r(30));
				testObject.position.set(15.0,0.0,4.0);

				var ui_testObject = new THREE.Mesh(geom,mat);
				ui_testObject.rotation.set(d2r(45),d2r(90),d2r(30));
				ui_testObject.position.set(8.0,0.0,4.0);

				testObjects.push(testObject);
				ui_testObjects.push(ui_testObject);

				geom = new THREE.SphereGeometry(10.0,32,32);

				testObject = new THREE.Mesh(geom, mat);
				testObject.position.set(-20.0, 0.0, 0.0);

				ui_testObject = new THREE.Mesh(geom,mat);
				ui_testObject.position.set(-20.0, 0.0, 0.0);

				testObjects.push(testObject);
				ui_testObjects.push(ui_testObject);

				for(i in testObjects){
					console.log(i);
					world.scene.add(testObjects[i]);
					ui.scene.add(ui_testObjects[i]);
				}
			}

			function setupScene(){
				window.addEventListener('resize', onWindowResize, false);

				world.container = $("#container");
				addEnvironment(world);

				ui.container = $("#ui-container");
				addUIEnvironment(ui);
				ui.renderer.setSize(300,300);

				addIR(function (mesh) {
					irSensor = mesh;
					allLoaded();
				});
				addYawServo(function (mesh) {
					Yaw_Servo = mesh;
					allLoaded();
				});
				addPitchServo(function (mesh) {
					Pitch_Servo = mesh;
					allLoaded();
				});


				var geom = new THREE.Geometry();
				geom.vertices.push(new THREE.Vector3(0,0,0));
				geom.vertices.push(new THREE.Vector3(0,0,0));
				var mat = new THREE.LineDashedMaterial({linewidth: 3, color: 0xFF00FF, dashSize: 0.1, gapSize: 0.1});
				scanLine = new THREE.Line(geom, mat, THREE.LineSegments);
				world.scene.add(scanLine);

				addTestObjects();

			}
			function rangecheck(val){
				return (MIN_ANGLE < val && val < MAX_ANGLE);
			}
			function setupControls(){
				$(document).keydown(function(event){
					automaticScan = false;
					switch(event.key){
						case "ArrowLeft":
							event.preventDefault();
							if(rangecheck(theta + offset)){
								theta += offset;
							  }
							break;
						case "ArrowRight":
							event.preventDefault();
								if(rangecheck(theta - offset)){
									theta -= offset;
								}
							break;
						case "ArrowDown":
							event.preventDefault();
								if(rangecheck(phi - offset)){
									phi -= offset;
								}
							break;
						case "ArrowUp":
							event.preventDefault();
								if(rangecheck(phi + offset)){
									phi += offset;
								}
							break;
					}
				})
			}
			function setupUI(){
				//reset
				$("#reset").click(function () {
					for(i in scanPoints){
						world.scene.remove(scanPoints[i]);
					}
					scanPoints = [];
					for(i in ui_scanPoints){
						ui.scene.remove(ui_scanPoints[i]);
					}
					ui_scanPoints = [];
				});
				
				$("#scanObject").click(function () {
					automaticScan = true;
					startedAutomaticScan = true;
				});

				//toggle object
				$("#object").click(function () {
					for(i in testObjects){
						testObjects[i].visible = this.checked;
						ui_testObjects[i].visible = this.checked;
					}
				});
			}


			$(document).ready(function () {
				setupScene();
				setupControls();
				setupUI();
			});

			function calcPoint(delta,theta,phi){
            var v = new THREE.Vector3(0,0,delta); // point in IR's coordinate system, positive z direction

            //reference

            var mat = new THREE.Matrix4();
            mat.makeTranslation(0,0,0.8); // reference offset from IR Sensor
            v.applyMatrix4(mat);

            //irSensor
            //v.applyMatrix4(mat);
            mat.makeTranslation(-1.0,0,-0.5); //IR Sensor offset from Wrapper
            v.applyMatrix4(mat);

            //ir Wrapper
            mat.makeRotationX(-phi); // Pitch Angle
            v.applyMatrix4(mat);

            //wrapper1
            mat.makeTranslation(1.0, 1.0, -0.05);
            v.applyMatrix4(mat);

            //wrapper2
            mat.makeRotationY(theta); // Yaw Angle
            v.applyMatrix4(mat);				//equivalently,
				/*
				   v.applyMatrix4(reference.matrix);
				   v.applyMatrix4(irSensor.matrix);
				   v.applyMatrix4(irSensor.wrapper.matrix);
				   v.applyMatrix4(Pitch_Servo.wrapper.matrix);
				   v.applyMatrix4(Yaw_Servo.wrapper.matrix);
				 */

				return v;
			}

			function addScanPoint(v, delta){
				var geom = new THREE.BoxGeometry(0.1, 0.1, 0.1);
				console.log("Delta", delta);

				var normalizedDelta = Math.abs((delta - 8) / (30 - 8)); // range : 8 ~ 30
				
				var colorHSL = new THREE.Color();
				colorHSL.setHSL(1 - normalizedDelta, 1 - normalizedDelta, 0.5);
				var mat = new THREE.MeshBasicMaterial({color: colorHSL});

				var point = new THREE.Mesh(geom,mat);
				point.position.set(v.x, v.y, v.z);
				world.scene.add(point);
				scanPoints.push(point);

				point = new THREE.Mesh(geom,mat);
				point.position.set(v.x,v.y,v.z);
				ui.scene.add(point);
				ui_scanPoints.push(point);
			}

			function mouse2vec(event) {
				return new THREE.Vector3(
						(event.clientX / window.innerWidth) * 2 - 1,
						-(event.clientY / window.innerHeight) * 2 + 1,
						0.0
						);
			}

			function animate() {
				requestAnimationFrame(animate);
				render();
			}

			function scan(mode) {

				var pos = new THREE.Vector3();
				pos.setFromMatrixPosition(reference.matrixWorld);

				var direction = new THREE.Vector3(
						Math.cos(phi) * Math.sin(theta),
						Math.sin(phi),
						Math.cos(phi) * Math.cos(theta)
						);

				var src = pos.clone();
				var dst = src.clone().add(direction.clone().multiplyScalar(10));

				ui.camera.position = src;
				ui.camera.updateMatrix();
				ui.camera.lookAt(dst);
				ui.camera.updateMatrixWorld();

				// show scan Line
				scanLine.geometry.vertices[0].copy(src);
				scanLine.geometry.vertices[1].copy(dst);
				scanLine.geometry.computeLineDistances();
				scanLine.geometry.verticesNeedUpdate = true;

				// add Scan Data
				if(mode == "s"){ //simulation
					var r = new THREE.Raycaster(src,direction,0,20);
					var intersect = r.intersectObjects(testObjects);
					if(intersect.length > 0){
						var v_delta = new THREE.Vector3();
						v_delta.subVectors(src, intersect[0].point);
						var delta = v_delta.length();

						// artificially create delta [distance] (obtained via IR sensor reading in real life)
						var p = calcPoint(delta, theta, phi);
						addScanPoint(p, delta);
					}
				} else{
					scan_real();
				}
			}

			function scan_real(){
				$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
				$.post({
					url : $SCRIPT_ROOT + "/scan",
					dataType : "json",
					data : {
						theta : theta,
						phi : phi
					}
				}, function(data){
					//console.log(data);	
					delta = data.delta;
					var p = calcPoint(delta, theta, phi);
					addScanPoint(p, delta);
				});
			}

			function render() {
				scan("r"); // "r" == real or "s" == simulation
				if(automaticScan){
					setAutomaticScan();
				}
				Pitch_Servo.wrapper.rotation.set(0, theta, 0);
				irSensor.wrapper.rotation.set(-phi, 0, 0);

				world.renderer.render(world.scene, world.camera);
				ui.renderer.render(ui.scene,ui.camera);
				
			}

			function setAutomaticScan(){
				if(startedAutomaticScan){
					theta = MIN_ANGLE;
					phi = MIN_ANGLE;
					startedAutomaticScan = false;
				} else{
					// looping through theta and phi: setting every possible value for phi before incrementing theta
					if(theta <= MIN_ANGLE && dir == -1){
						if(phi >= MAX_ANGLE){
							// scan complete
							automaticScan = false;
							return;
						}
						// otherwise, increment theta, and return phi to start angle
						dir = 1; // now scan upwards
						phi += offset;
						theta = MIN_ANGLE;
					}
					else if(theta >= MAX_ANGLE && dir == 1){
						if(phi >= MAX_ANGLE){
							// scan complete
							automaticScan = false;
							return;
						}
						// otherwise, increment theta, and return phi to start angle
						phi += offset;
						dir = -1; // now scan downwards
						theta = MAX_ANGLE;

					} else{
						// keep the theta, and move the phi
						theta += offset * dir;
					}
				}
			}

			function onWindowResize() {
				world.camera.aspect = window.innerWidth / window.innerHeight;
				world.camera.updateProjectionMatrix();
				world.renderer.setSize(window.innerWidth, window.innerHeight);
			}

		</script>
	</head>

	<body>

		<div id="container">
			<!-- Scanner{IR Sensor-Servo} & Object-->
		</div>

		<div id="ui">
			<hr/>
			Camera View <br/>

			<div id="ui-container"></div>

			<hr/>
			Controls <br/>

			<p>(Left,Right) : Yaw</p>
			<p>(Up,Down) : Pitch</p>

			<hr/>
			Settings <br/>
			<input type="checkbox" id="object" checked/>Toggle Object View<br/>
			<button type="button" id="reset" style="margin-top:10px">Reset Scan</button><br/>
			<button type="button" id="scanObject" style="margin-top:10px">Scan Object</button><br/>
		</div>

	</body>
</html>
